@font-face {
  font-family:yekan;
  src: url("@/assets/fonts/iran_yekan_web_black.woff2");
}
@font-face {
  font-family:'yekan-regular';
  src: url("@/assets/fonts/iran_yekan_web_regular.woff2");
}
@font-face {
  font-family:'yekan-bold';
  src: url('@/assets/fonts/iran_yekan_web_bold.woff2');
}
@font-face {
  font-family:'yekan-extera-black';
  src: url('@/assets/fonts/iran_yekan_web_extraBlack.woff2');
}
@font-face {
  font-family:'yekan-extera-bold';
  src: url('@/assets/fonts/iran_yekan_web_extraBold.woff2');
}
@font-face {
  font-family:'yekan-lighter';
  src: url('@/assets/fonts/iran_yekan_web_light.woff2');
}
@font-face {
  font-family:'yekan-medium';
  src: url('@/assets/fonts/iran_yekan_web_medium.woff2');
}
@font-face {
  font-family:'yekan-thin';
  src: url('@/assets/fonts/iran_yekan_web_thin.woff2');
}
