:root{
  --products-filter-font-size-item:14px;
  //--products-filter-font-family-item:inherit;
  --products-filter-font-weight-item:400;
  --products-filter-font-color-item:#000;
  --products-filter-line-height-item:18px;
  --products-filter-font-size-item-responsive:9px;
  --products-filter-font-weight-item-responsive:400;
  --products-filter-color-item-active:#AE7BB6;
}
/* aside page */
:root{
  --product-aside-background:#F6ECF8;
  --product-aside-title-color:#5E2E66;
  --product-aside-title-font-size:20px;
  --product-aside-title-font-weight:700;
  --product-aside-title-line-height:27.5px;

}